<div class="container">
    <div class="left">
        <div class="vid">
            <video id="myVideo" [src]="video" controls></video>
        </div>
        <div class="content">
            <p class="title">Description</p>
            <div class="line"></div>
            <div class="words">
                <p>{{lec.description}}</p>
            </div>
            <br>
            <p class="title">Assignments</p>
            <div class="line"></div>
        </div>
    </div>
    <div class="aside">
        <p class="title">{{lec.courseData.courseName}}</p>
        <div class="line"></div>
        <table class="my-table">
            <!-- <tr *ngFor="let row of data">
            <td>{{ row.name }}</td>
            <td>{{ row.time }}</td>
            </tr> -->
        </table>
        <!-- <p *ngIf="showAddVideos">Add videos</p> -->
        <div *ngIf="showAddVideos">
            <label style="margin-left: 20px;" for="videoFile">Upload Video:</label><br>
            <input type="file" id="videoFile" (change)="onVideoSelected($event)"><br>
            <button class="upload" (click)="uploadVideo()">Upload</button><br>
          </div>
    </div>
</div>