<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
    <a href="#" class="logo">
        <img src="../../assets/img/logo (1).png" alt="Logo">
    </a>
    <div class="nav">
        <a routerLink="/">Home</a>
        <!-- <div *ngIf="token" class="div">
            <a *ngIf="userToken" routerLink="/courses">Courses</a>
            <a *ngIf="!userToken" routerLink="/profcourses"> courses</a>
         </div> -->
    </div> <!--*ngIf="token"-->
     <div  class="icons"> 
        <a class="user-icon" routerLink="/profile">
            <i class="fa fa-user-circle-o" style="font-size:36px;color: #E3654B;"></i>
        </a>
        <a class="notification-icon">
            <i class="fa fa-chain-broken" style="font-size:36px;color: #E3654B;" (click)="logout()"></i>
        </a>
    </div>
  </nav>