nav{
    display: flex;
    background-color: #fff;
    padding: 1rem;
    justify-content: space-between;
    max-height: 70px;
}
.logo img{
    margin-top: -25px;
    margin-left: -30px;
    height: 150px;
    width: auto;
    // padding-right: 300px;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  a {
    padding-left: 3rem;
    text-decoration: none;
    margin-right: 1rem;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    position: relative;
    z-index: 100;
  }
  a:hover{
    color: #E3654B;
    letter-spacing: 4px;
    font-size: 20px;
    opacity: 1;
    transition: 0.7s;
}
  .icons {
    display: flex;
    align-items: center;
  }
  i:hover,img:hover {
    transform: scale(1.5);
  }
  .icon-black {
    color: #000;
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }

  @media screen and (max-width: 830px) {
    nav{
        flex-direction: column;
        max-height: 110%;
        
    }
    .logo{
      margin-top: 20px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo img {
      justify-content: center;
      align-items: center;
    }
    .nav{
      justify-content: center;
    }
    .icons{
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
  }