<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
    <a href="#" class="logo">
        <img src="../../assets/img/logo (1).png" alt="Logo">
    </a>
    <div class="nav">
        <a routerLink="/">Home</a>
        <a routerLink="/courses">Courses</a>
        <a routerLink="/contact">Contact</a>
    </div>
    <div class="icons">
        <a href="#" class="user-icon" routerLink="/profile">
            <i class="fa fa-user-circle-o" style="font-size:36px"></i>
        </a>
        <a href="#" class="notification-icon">
            <i class="fa fa-chain-broken" style="font-size:36px" (click)="logout()"></i>
        </a>
    </div>
  </nav>