<div class="container">
    <div class="left">
        <div class="img">
            <h3 class="title">{{ course.courseName }}</h3>
            <h3 class="name">By :- {{ course.doctorData.firstName}}</h3>
            <p>{{course.description}}</p>
            <div class="btn">
                <button (click)="start()" class="start">Start Course</button>&nbsp;&nbsp;
                <button (click)="quiz()" class="quizz">Take a quiz</button>
            </div>
            <div class="step"></div>
        </div>
        <div class="content">
            <div class="quiz">
                <div class="buttton">
                    <button (click)="Content()" >Content</button>
                    <button (click)="Discussion()" >Discussion</button>
                </div>
                <div class="bg"></div>
                <div class="change" #content>
                   <table class="my-table">
                        <tr *ngFor="let row of lecture">
                        <td (click)="onLecClick(row._id)">{{ row.title }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><div class="aside"></div>
  </div>