<div class="container">
  <div class="img">
      <h3 class="title">Create a Quiz</h3><br>
  </div><!-- #questionText="ngModel" -->
  <div class="content">
      <div class="quiz">
        <h1>Create a Quiz</h1>
        <div class="bg"></div>
        <form #quizprofform="ngForm" (ngSubmit)="onSubmit(quizprofform)">
          <input class="inp" ngModel name="quizname" id="quizname" [(ngModel)]="quiz.quizname" placeholder="Enter Quiz Title" /><br>
          <div class="line"></div>
          <div *ngFor="let question of quiz.questions; let i = index" class="inp-box">
            <input class="inp" ngModel name="q{{i}}" id="q{{i}}" [(ngModel)]="question.title" placeholder="Enter Question?" />
            <input class="inp" type="number" ngModel name="mark{{i}}" id="mark{{i}}" [(ngModel)]="question.mark" placeholder="Enter Mark" /><br>
            <div class="answer" *ngFor="let answer of question.choose; let j = index">
              <span id="a{{j}}{{i}}" class="text-danger"></span>
              <input type="radio" name="answer{{i}}" id="a{{j}}{{i}}" [(ngModel)]="selectedAnswer[i]" [value]="j" />
              <input class="inp" ngModel name="a{{j}}{{i}}" id="a{{j}}{{i}}" [(ngModel)]="answer.text" placeholder="Answer {{j + 1}}" />
            </div><br>
            <a class="Selection" (click)="addAnswer(i)">Add Selection</a>
            <div *ngIf="isAddAnswerVisible[i]"></div>
            <div class="line"></div>
          </div><br>
          <span id="Correct" class="text-danger"></span><br>
          <a class="question" (click)="addQuestion()">Add A New Question</a><br>
          <input type="submit" class="add" value="Submit" /><br />
        </form> 
      </div>
      <!-- <div class="aside"></div> -->
  </div>
</div>