<div class="container">
  <div class="img">
      <h3 class="title">{{ course.title }}</h3><br>
  </div><!-- #questionText="ngModel" -->
  <div class="content">
      <div class="quiz">
        <h1>Create a Quiz</h1>
        <div class="bg"></div>
        <form #quizprofform="ngForm" (ngSubmit)="onSubmit(quizprofform)">
          <div class="inp-box">
            <span id="q" class="text-danger"></span>
            <input ngModel name="q" id="q"  placeholder="Enter Question?" /><br>
            <span id="a1" class="text-danger"></span>
            <input ngModel name="a1" id="a1"  placeholder="First Answer" />
            <span id="a2" class="text-danger"></span>
            <input ngModel name="a2" id="a2" placeholder="Second Answer" />
            <span id="a3" class="text-danger"></span>
            <input ngModel name="a3" id="a3" placeholder="Thrid Answer" />
            <span id="a4" class="text-danger"></span>
            <input ngModel name="a4" id="a4" placeholder="Fourth Answer" /><br>
            <span id="Correct" class="text-danger"></span>
            <input ngModel name="Correct" id="Correct" placeholder="Enter Correct Answer" />
          </div>
          <input type="submit" class="add" value="Add" /><br />
        </form> 
      </div>
      <div class="aside"></div>
  </div>
</div>