<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container"> 
    <div class="content">
        <div class="top">
            <p class="Courses">Managed Courses</p>
            <input (click)="add()" type="submit" class="add" value="Add Courses" />
        </div>
        <div class="flex">
            <div class="cont" *ngFor="let course of courses" (click)="onCourseClick(course._id)">
                <div class="info">
                  <p class="name"><i class="fa fa-book" style="color: rgb(59, 76, 76);"></i> {{ course.courseName }}</p>
                  <p class="description">{{ course.description }}</p>
                  <p class="icon"><i class="fa fa-clock-o"></i> {{ course.duration }} 
                    <i class="fa fa-signal space"></i> {{ course.averageRating }}&nbsp;
                    <i (click)="onCourseDeleteClick(course._id)" class="fa fa-trash-o" ></i>&nbsp;&nbsp;
                    <i (click)="onCourseEditClick(course._id)" class="fa fa-edit" ></i>
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
