<div class="container" *ngIf="quiz">
  <div class="img">
    <h3 class="title">{{ quiz.quizname }}</h3><br>
  </div>
  <div class="content">
    <div class="quiz">
      <h1>You must answer the following questions and get points above 60%</h1>
      <div class="bg"></div>
      <form #quizform="ngForm" (ngSubmit)="onSubmit(quizform)">
        <div *ngFor="let question of quiz.questions; let i = index">
          <h4>{{i+1}}. {{question.title}}</h4>
          <div *ngFor="let option of question.choose; let j = index">
            <label>
              <input type="radio" name="q{{i}}" [checked]="selected[i] === j" (change)="selected[i] = j; answers[i] = j;">
              {{option.text}}
            </label>
          </div>
          <hr>
        </div><br>
        <span id="Correct" class="text-danger"></span><br>
        <button type="submit">Submit Quiz</button>
      </form>
    </div>
    <div class="aside"></div>
  </div>
</div>