<div class="container">
    <div class="input">
        <p class="minda">Minda</p>
        <p class="add"> Add Course </p>
        <form #addcourseForm="ngForm" (ngSubmit)="onSubmit(addcourseForm)" class="cont">
            <div class="inp-box">
                <input ngModel name="name" id="name" placeholder="course name" /><br /><br />
                <input ngModel name="description" id="description" placeholder="course description" /><br /><br />
            </div>
            <span id="checked" class="text-danger"></span><br><br />
            <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span><br>
            <input type="submit" class="Next" value="Next" /><br /><br /><br />
        </form>
    </div>
    <div class="img"></div>
</div>