<div class="container"> 
    <div class="img"></div>
    <div class="input">
        <p class="minda">Minda</p>
        <p class="add"> - Add Lecture </p>
        <form #addlectureForm="ngForm" (ngSubmit)="onSubmit(addlectureForm)" class="cont">
            <div class="inp-box">
                <input ngModel name="name" id="name" placeholder="Lecture name" /><br /><br />
                <input ngModel name="description" id="description" placeholder="Lecture description" /><br /><br />
                <input ngModel name="datetime" type="datetime" id="duration" placeholder="Lecture duration" /><br /><br />
            </div>
            <span id="checked" class="text-danger"></span><br><br>
            <input type="submit" class="Next" value="Add lecture" /><br /><br /><br />
        </form>
    </div>
</div>
