<div class="container">
    <div class="input">
        <p class="minda">Minda</p>
        <p class="sign">Sign up</p>
        <form #signupprofForm="ngForm" (ngSubmit)="onSubmit(signupprofForm)">
            <div class="inp-box">
                <input ngModel name="firstName" id="fname"  placeholder="First Name" />&nbsp;
                <input ngModel name="lastName" id="lname"  placeholder="Last Name" /><br /><br />
                <input ngModel name="email" id="Email"  placeholder="Email Address" />&nbsp;
                <input ngModel name="profcode" id="profcode"  placeholder="8-digit-number" /><br /><br />
                <input ngModel name="password" type="password" id="Password" placeholder="password" /><br /><br />
                <input ngModel name="confirmPassword" type="password" id="cPassword" placeholder="Confirm password" /><br /><br />
            </div><br />
            <span id="checked"  class="text-danger"></span><br>
            <input type="submit" class="signup" value="Sign Up" /><br />
            <p class="acc">Do you have an account? <a routerLink="/loginprof"> Log In </a></p>
        </form>
    </div>
    <div class="img"></div>
</div>