<div class="container">
    <div class="input">
        <p class="minda">Minda</p>
        <form #forgetpassForm="ngForm" (ngSubmit)="onSubmit(forgetpassForm)" class="cont">
            <div class="inp-box">
                <p>Forgot your password? <br>Please, enter your credentials:</p>
                <input ngModel name="email" id="Email" placeholder="Email Address" /><br /><br />
                <input ngModel name="password" type="password" id="Password" placeholder="password" /><br /><br />
                <input ngModel name="confirmPassword" type="password" id="cPassword" placeholder="Confirm password" /><br /><br />
            </div>
            <span id="checked" class="text-danger"></span><br /><br />
            <input type="submit" class="Reset" value="Reset Password" /><br /><br />
        </form>
    </div>
    <div class="img"><img class="imga" src="../../assets/img/Resetpassword.jpg"></div>
</div>