<div class="container">
    <div class="input">
        <p class="minda">Minda</p>
        <div *ngIf="!Element" class="form">
        <form *ngIf="!showElement" #forgetpassForm="ngForm" (ngSubmit)="onSubmit(forgetpassForm)" class="cont">
            <div  class="inp-box">
                <p>Forgot your password? <br>Please, enter your credentials:</p>
                <input ngModel name="email" id="Email" placeholder="Email Address" /><br /><br />
            </div>
            <span id="checked" class="text-danger"></span><br><br>
            <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span><br><br />
            <input type="submit" class="Reset" value="forget Password" /><br /><br />
        </form></div>
        <form *ngIf="showElement" #tokenForm="ngForm" (ngSubmit)="ontokenSubmit(tokenForm)" class="cont">
            <div class="inp-box">
                <p>Forgot your password? <br>Please, enter your credentials:</p>
                <span id="checked" class="text-danger"></span><br><br>
                <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span><br><br />
                <input ngModel name="token" id="token" placeholder="token" /><br /><br />
            </div>
            <span id="checked" class="text-danger"></span><br /><br />
            <input type="submit" class="Reset" value="verify token" /><br /><br />
        </form>
        <form *ngIf="Element" #resetpassForm="ngForm" (ngSubmit)="onresetSubmit(resetpassForm)" class="cont">
            <div class="inp-box">
                <p>Forgot your password? <br>Please, enter your credentials:</p>
                <input ngModel name="password" type="password" id="Password" placeholder="password" /><br /><br />
            </div>
            <span id="checked" class="text-danger"></span><br><br>
            <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span><br><br />
            <input type="submit" class="Reset" value="Reset Password" /><br /><br />
        </form>
    </div>
    <div class="img"><img class="imga" src="../../assets/img/Resetpassword.jpg"></div>
</div>