<div class="container">
    <div class="left">
        <div class="vid">
             <video id="myVideo" [src]="video" controls></video>
        </div>
        <div class="content">
            <p class="title">Description</p>
            <div class="line"></div>
            <div class="words">
                <p>{{lec.description}}</p>
            </div>
            <br>
        </div>
    </div>
    <div class="aside">
        <p class="title">{{lec.courseData.courseName}}</p>
        <div class="line"></div>
        <table class="my-table">
        </table>
    </div>
</div>