<div class="container">
  <div class="input">
    <p class="minda">Minda</p>
    <p class="sign">Sign up</p>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
      <div class="inp-box">
        <input ngModel name="firstName" id="firstName"  placeholder="First Name" />&nbsp;
        <input ngModel name="lastName" id="lastName"  placeholder="Last Name" /><br /><br />
        <input ngModel name="email" id="Email" placeholder="Email Address" /><br /><br />
        <input type="password" ngModel name="password" id="Password" placeholder="password" /><br /><br />
        <input type="password" ngModel name="confirmPassword" id="confirmPassword" placeholder="Confirm password" /><br /><br />
        <span id="checked" class="text-danger"></span>
      </div>
      <input type="submit" class="signup" value="Sign Up" /><br />
      <p class="acc">Do you have an account? <a routerLink="/login"> Log In </a></p>
    </form>
  </div>
  <div class="img"></div>
</div>