<div class="container">
    <div class="left">
        <div class="img">
            <h3 class="title">{{ courses.courseName }}</h3>
            <h3 class="name">By :- {{ courses.doctorData.firstName }}</h3>
            <p>{{courses.description}}</p>
            <div class="btn">
                <div class="leftbtn">
                    <button (click)="start(courses._id,courses.lectureId[0]._id)" class="start">Start Course</button>
                </div>
                <div class="rightbtn">
                    <button (click)="Lesson()" class="Lesson">Add New Lesson</button>&nbsp;&nbsp;
                    <button (click)="quiz()" class="quizz">Add Quiz</button>
                </div> 
            </div>
            <div class="step"></div>
        </div>
        <div class="content">
            <div class="quiz">
                <div class="buttton">
                    <button (click)="Content()" >Content</button>
                    <button (click)="Description()" >Description</button>
                    <button (click)="Discussion()" >Discussion</button>
                </div>
                <div class="bg"></div>
                <div class="change" #content>
                    <table class="my-table">
                        <tr *ngFor="let row of courses.lectureId">
                        <td (click)="onLecClick(courses._id,row._id)" >{{ row.title }}</td>
                        <td><i (click)="onLecDeleteClick(courses._id,row._id)" class="fa fa-trash-o" ></i></td>
                        <td><i (click)="onLecEditClick(courses._id,row._id)" class="fa fa-edit" ></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><div class="aside">
        <p class="title">quizzes</p>
        <div class="underline"></div>
        <table class="my-table">
            <tr *ngFor="let quiz of courses.quizzes">
            <td (click)="onQuizClick(courses._id,quiz._id)" >{{ quiz.quizname }}</td>
            <td><i (click)="onQuizDetaillClick(courses._id,quiz._id)" class="fa fa-vcard-o"></i></td>
            <td><i (click)="onQuizDeleteClick(quiz._id)" class="fa fa-trash-o" ></i></td>
            </tr>
        </table>
    </div>
  </div>