<div class="container">
    <div class="left">
        <div class="img">
            <h3 class="title">{{ courses.courseName }}</h3>
            <h3 class="name">By :- Dr.{{ courses.doctorData.firstName }}</h3>
            <p>{{courses.description}}</p>
            <div class="btn">
                <div class="leftbtn">
                    <button (click)="Lesson()" class="Lesson">Add New Lecture</button>
                </div>
            </div>
            <div class="step"></div>
        </div>
        <div class="content">
            <div class="quiz">
                <div class="buttton">
                    <button (click)="Content()" >Content</button>
                </div>
                <div class="bg"></div>
                <div class="change" #content>
                    <table class="my-table">
                        <tr *ngFor="let row of courses.lectureId">
                        <td (click)="onLecClick(courses._id,row._id)" >{{ row.title }}</td>
                        <td><i (click)="onLecDeleteClick(courses._id,row._id)" class="fa fa-trash-o" ></i></td>
                        <td><i (click)="onLecEditClick(courses._id,row._id)" class="fa fa-edit" ></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><div class="aside">
        <p class="title">quizzes</p>
        <div class="underline"></div>
        <table class="my-table">
            <tr *ngFor="let quiz of courses.quizzes">
                <td (click)="onQuizClick(courses._id,quiz._id)" >{{ quiz.quizname }}</td>
                <td><i (click)="onQuizDetaillClick(courses._id,quiz._id)" class="fa fa-vcard-o"></i></td>
                <td><i (click)="onQuizDeleteClick(quiz._id)" class="fa fa-trash-o" ></i></td>
            </tr>
            <tr>
                <td (click)="quiz()" class="quizz">Add Quiz</td>
            </tr>
        </table>
        <p class="title">Assignments</p>
        <div class="underline"></div>
        <table class="my-table">
            <tr *ngFor="let assignment of assignments">
                <td (click)="onAssignmentClick(courses._id,assignment._id)" >{{ assignment.title }}</td>
                <td><i (click)="onAssignmentDetaillClick(courses._id,assignment._id)" class="fa fa-vcard-o"></i></td>
                <td><i (click)="onAssignmentDeleteClick(assignment._id)" class="fa fa-trash-o" ></i></td>
            </tr>
            <tr>
                <td (click)="assignment()" class="quizz">Add Assignment</td>
            </tr>
        </table>
    </div>
  </div>