<div class="container">
    <div class="prof">
        <div class="img">
            <ng-container *ngIf="profile.profileimg === null || !profile.profileimg.url || (profile.profileimg && !profile.profileimg.url)">
                <label for="videoFile">Upload Video:</label><br>
                <input type="file" id="file" (change)="onFileSelected($event)"><br>
                <button class="upload" (click)="uploadimg()">Upload</button><br>
              </ng-container>
            <ng-container *ngIf="profile.profileimg && profile.profileimg.url">
              <img [src]="profile.profileimg.url" alt="image">
            </ng-container>
          </div>
        <div class="text">
            <ng-container *ngIf="profile.profileimg && profile.profileimg.url">
                <a class="edit" (click)="deleteimg()"> To update profile image Click To Delete First</a>
            </ng-container>
            <p>Personal Info</p>
            <div class="line"></div>
        </div><!--<p class="stuname" *ngFor="let item of info"> {{ item.name }} </p> -->
        <br><br>
        <div class="content">
            <form #editprofileForm="ngForm" (ngSubmit)="onSubmit(editprofileForm)">
                <div class="inp-box">
                    <div class="input">
                        <label class="lbl" for="fname">Edit FName:</label><br />
                        <input ngModel name="fname" id="fname" /><br /><br />
                    </div>
                    <div class="input">
                        <label class="lbl" for="lname">Edit LName:</label><br />
                        <input ngModel name="lname" id="lname" /><br /><br />
                    </div>
                    <!-- <div class="input">
                        <label class="lbl" for="email">Edit password:</label><br />
                        <input ngModel name="email" type="password" id="pass"  [value]="info[0].password"/><br /><br />
                    </div>
                    <div class="input">
                        <label class="lbl" for="country">Edit Country:</label><br />
                        <input ngModel name="country" id="country"  [value]="info[0].country"/><br /><br />
                    </div>
                    <div class="input">
                        <label class="lbl" for="school">Edit Job:</label><br />
                        <input ngModel name="job" id="job" [value]="info[0].job"/><br /><br />
                    </div>
                    <div class="input">
                        <label class="lbl" for="Phone">Edit Phone:</label><br />
                        <input ngModel name="Phone" id="Phone" [value]="info[0].phone" /><br /><br />
                    </div>
                    <div class="bio">
                        <label class="lbl" for="Phone">Edit Bio:</label><br />
                        <textarea ngModel name="bioo" id="bioo" [value]="info[0].bio" rows="6" cols="70"></textarea><br /><br />
                    </div> -->
                </div>
                <span id="checked" class="text-danger"></span><br><br>
                <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span><br>
                <input type="submit" class="Save" value="Save Personal Info" /><br />
            </form>
        </div>
    </div>  
</div>