/* You can add global styles to this file, and also import other style files */
:root{
  --main-color:#8e44ad;
  --red:#e74c3c;
  --orange:#f39c12;
  --light-color:#888;
  --light-bg:#eee;
  --black:#2c3e50;
  --white:#fff;
  --border:.1rem solid rgba(0,0,0,.2);
  --color-primary: #7388ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
}

// *{
//   font-family: 'Nunito', sans-serif;
//   margin:0; padding:0;
//   box-sizing: border-box;
//   outline: none; border:none;
//   text-decoration: none;
// }

// *::selection{
//   background-color: var(--main-color);
//   color:#fff;
// }

// html{
//   font-size: 62.5%;
//   overflow-x: hidden;
// }

html::-webkit-scrollbar{
  width: 9px;
  height: .5rem;
}

html::-webkit-scrollbar-track{
  background-color: transparent;
}

html::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, #677E98 0%, #E3654B 100%);
}


body{
  background-color: #D8D8D8;
}
.text-danger {
  color: #dc3545;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px;
}
a:hover {
  cursor: pointer;
}
input{
  border: none;
}
