/* You can add global styles to this file, and also import other style files */
body{
    background-color: #D8D8D8;
}
.text-danger {
    color: #dc3545;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
  }
  a:hover {
    cursor: pointer;
  }